@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

/* Estilo para el cuerpo */
body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://media.istockphoto.com/id/1191251531/es/vector/patr%C3%B3n-sin-costuras-con-corazones-rojos-rom%C3%A1ntico-fondo-de-melocot%C3%B3n-cremoso-para-textil.jpg?s=612x612&w=0&k=20&c=b4Ddq7Vlc8iWhCXpoGPu6q1BtTPEtbAqe5iOSfM6Td8=);
    background-size: cover;
}

/* Estilo para los saludos */
.greetings {
    font-size: 6rem;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; /* Espacio entre los span */
    margin-bottom: 20px;
}

.greetings > span {
    position: relative;
    padding: 0.5rem; /* Espacio interno para el fondo */
    background-color: rgba(255,228,217,0.1); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    font-weight: 900;
    animation: glow 2.5s ease-in-out infinite;
    color: #000; /* Color del texto */
}

.greetings > span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1191251531/es/vector/patr%C3%B3n-sin-costuras-con-corazones-rojos-rom%C3%A1ntico-fondo-de-melocot%C3%B3n-cremoso-para-textil.jpg?s=612x612&w=0&k=20&c=b4Ddq7Vlc8iWhCXpoGPu6q1BtTPEtbAqe5iOSfM6Td8=);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.2; /* Opacidad para que no afecte la vista del texto */
    z-index: -1; /* Colocar el fondo detrás del texto */
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #fbff00, 0 0 50px #fbff00, 0 0 100px #fbff00;
    }
    10%, 90% {
        color: #000;
        text-shadow: none;
    }
}

.greetings > span:nth-child(2) { animation-delay: .2s; }
.greetings > span:nth-child(3) { animation-delay: .4s; }
.greetings > span:nth-child(4) { animation-delay: .6s; }
.greetings > span:nth-child(5) { animation-delay: .8s; }
.greetings > span:nth-child(6) { animation-delay: 1s; }

/* Estilo para la descripción */
.description {
    font-size: 1.5rem;
    color: #2200ff;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    padding: 1rem; /* Espacio interno para el fondo */
    background-color: rgba(255,228,217,0.1); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
}

.description::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1191251531/es/vector/patr%C3%B3n-sin-costuras-con-corazones-rojos-rom%C3%A1ntico-fondo-de-melocot%C3%B3n-cremoso-para-textil.jpg?s=612x612&w=0&k=20&c=b4Ddq7Vlc8iWhCXpoGPu6q1BtTPEtbAqe5iOSfM6Td8=);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.3; /* Opacidad para que no afecte la vista del texto */
    z-index: -1; /* Colocar el fondo detrás del texto */
}

/* Estilo para el botón */
.button {
    margin-top: 20px;
}

.button button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

.button button a {
    text-decoration: none;
    color: #111;
}

.button button:hover {
    background-color: orange;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

/* Estilos responsivos */
@media screen and (max-width: 574px) {
    .greetings {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .description {
        font-size: 2rem;
    }

    .button button {
        font-size: 2rem;
        padding: 8px 16px;
    }
}
